<h2 class="primary-logo">
</h2>
<nav class="">
    <ul>
        <%= render partial: 'layouts/sign_in' %>
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    </ul>
</nav>
<br>
